<!DOCTYPE html>
<html lang="pt-PT">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patudos</title>
    <link rel="icon" href="icone.png" type="image/png" />
    <link rel="stylesheet" href="Inicialstyle.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <a href="Inicial.html"
        ><img src="icon.png" alt="Logótipo Patudos" title="Página Inicial"
      /></a>
    </header>

    <nav>
      <a href="Inicial.cshtml">Inicial</a>
      <a href="Sobre.cshtml">Sobre</a>
      <a href="Adocoes.cshtml">Adoções</a>
      <a href="Contatos.cshtml">Contatos</a>
      <a href="Faq.cshtml">Perguntas Frequentes</a>
    </nav>

    <div class="container">
      <div class="hero-section">
        <div class="hero-text">
          <h2>batata</h2>
          <p>
            frita
          </p>
        </div>
      </div>

      <div class="hero-section">
        <div class="hero-text">
          <h2>Couve</h2>
          <p>
            flor
          </p>
        </div>
      </div>
    </div>

    <footer>
        &copy; 2024 <span class="brand-color">Patudos</span>. Todos os direitos
        reservados.
      </p>
      <p> - Coimbra, Portugal</p>
    </footer>
  </body>
</html>